.bundle
.yardoc
doc/
docs/
*~
coverage/
coverage.data
.idea
*.tar.gz
pid
config/certs
config/environments/development.rb
config/environments/production.rb
config/environments/stage.rb
.rvmrc
.DS_Store
.ruby-version
.ruby-gemset
log/
*.log
spec/fixtures
